#color {
  background-color: aquamarine;
}
.d1 {
  background-color: rgb(214, 202, 214);
  padding: 10px;
  padding-left: 10px;
  display: grid;
  width: 98%;

  margin: auto;
}

.c1 {
  background-color: #04c4ff;
  border: none;
  color: rgb(0, 0, 0);
  padding: 15px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
}
li {
  font-size: large;
}
